
<%-include("components/header.ejs")%>
<%-include("components/navbar.ejs")%>
    <div class="container"></div>
        <div class="alert alert-danger">
             Error is page uesing Admins
        </div>
    </div>
<%-include("components/footer.ejs")%>