
<%-include("components/header.ejs")%>
<%-include("components/navbar.ejs")%>
    <div class="container"></div>
        <div class="alert alert-danger">
         Error or Not Found Page
        </div>
    </div>
<%-include("components/footer.ejs")%>
